@model JDTMVC.Models.Job

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#etcdate").datepicker({ dateFormat: "dd-M-y" });
            });
</script>

</head>
<body>
  
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <p>
            <legend>Create Job</legend>
            </p>


            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
    
           @* <div class="editor-label">
                @Html.LabelFor(model => model.Static_Testing)
            </div>*@
            <div class="editor-field">
                @Html.LabelFor(model => model.Static_Testing) : @Html.EditorFor(model => model.Static_Testing)
                @Html.ValidationMessageFor(model => model.Static_Testing)
            </div>
    
            @*<div class="editor-label">
                @Html.LabelFor(model => model.Dynamic_Testing)
            </div>*@
            <div class="editor-field">
                @Html.LabelFor(model => model.Dynamic_Testing) : @Html.EditorFor(model => model.Dynamic_Testing)
                @Html.ValidationMessageFor(model => model.Dynamic_Testing)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PM)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.PM, (SelectList)ViewBag.PMList)
                @Html.ValidationMessageFor(model => model.PM)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Engineer)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Engineer, (SelectList)ViewBag.EngineerList)
                @Html.ValidationMessageFor(model => model.Engineer)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.PO_Date)
            </div>
            <div class ="editor-field">
                @Html.TextBoxFor(model => model.PO_Date , new { @id = "etcdate" })
                @Html.ValidationMessageFor(model => model.PO_Date)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>

        </fieldset>
    }

      <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
