@model JDTMVC.Models.Job

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <p>
            <legend>Create Job</legend>
            </p>

            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>

                
           @* <div class="editor-label">
                @Html.LabelFor(model => model.Static_Testing)
            </div>*@
            <div class="editor-field">
                @Html.LabelFor(model => model.Static_Testing) : @Html.EditorFor(model => model.Static_Testing)
                @Html.ValidationMessageFor(model => model.Static_Testing)
            </div>
    
            @*<div class="editor-label">
                @Html.LabelFor(model => model.Dynamic_Testing)
            </div>*@
            <div class="editor-field">
                @Html.LabelFor(model => model.Dynamic_Testing) : @Html.EditorFor(model => model.Dynamic_Testing)
                @Html.ValidationMessageFor(model => model.Dynamic_Testing)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PM)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.PM, (SelectList)ViewBag.PMList)
                @Html.ValidationMessageFor(model => model.PM)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Engineer)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Engineer, (SelectList)ViewBag.EngineerList)
                @Html.ValidationMessageFor(model => model.Engineer)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.PO_Date)
            </div>
            <div class ="editor-field">
                @Html.TextBoxFor(model => model.PO_Date ,"{0:dd-MMM-yy}", new { @id = "etcdate" })
                @Html.ValidationMessageFor(model => model.PO_Date)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Status)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>

        </fieldset>
    }

      <div class="submenu">
        @Html.ActionLink("Back to List", "Index")
    </div>
