@model JDTMVC.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Job @Model.name Rev. @Model.curr_Revision</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.curr_Revision)
        @Html.HiddenFor(model => model.name)


        <div class="tableLayout">
        <table>
            <tr>
                <td> @Html.LabelFor(model => model.Status) </td>
                <td> @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList) </td>

                <td class="secondColumn"> Customer Contact: </td>
                <td> SELECT </td>
            </tr>
            <tr>
                <td>  @Html.LabelFor(model => model.DeliveryDate) </td>
                <td> @Html.TextBoxFor(model => model.DeliveryDate ,"{0:MM/dd/yy}", new { @class = "etcdate" }) </td>

                <td class="secondColumn"> Customer Name: </td>
                <td> SELECT </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Report_Or_Memo) </td>
                <td> @Html.DropDownListFor(model => model.Report_Or_Memo, (SelectList)ViewBag.ReportList) </td>

                <td class="secondColumn"> @Html.LabelFor(model => model.SystemName)</td>
                <td> @Html.EditorFor(model=> model.SystemName)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Static_Testing)</td>
                <td> @Html.EditorFor(model => model.Static_Testing)</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.DeviceType)</td>
                <td> @Html.DropDownListFor(model => model.DeviceType, (SelectList)ViewBag.DeviceList)</td>
                
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Dynamic_Testing)</td>
                <td> @Html.EditorFor(model => model.Dynamic_Testing)</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.PM)</td>
                <td> @Html.DropDownListFor(model => model.PM, (SelectList)ViewBag.PMList)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.PO_Date)</td>
                <td> @Html.TextBoxFor(model => model.PO_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Engineer)</td>
                <td> @Html.DropDownListFor(model => model.Engineer, (SelectList)ViewBag.EngineerList)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.FolderBuild)</td>
                <td> @Html.TextBoxFor(model => model.FolderBuild, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.ReportWritten)</td>
                <td> @Html.TextBoxFor(model => model.ReportWritten, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.FolderCheck)</td>
                <td> @Html.TextBoxFor(model => model.FolderCheck, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Report_Initial_Check)</td>
                <td> @Html.TextBoxFor(model => model.Report_Initial_Check, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.TestStart)</td>
                <td> @Html.TextBoxFor(model => model.TestStart, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Report_Final_Check)</td>
                <td> @Html.TextBoxFor(model => model.Report_Final_Check, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.TestEnd)</td>
                <td> @Html.TextBoxFor(model => model.TestEnd, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Invoiced)</td>
                <td> @Html.TextBoxFor(model => model.Invoiced, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td></td>
                <td></td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Comments)</td>
                <td> @Html.EditorFor(model => model.Comments)</td>
            </tr>
        </table>
        </div>
        
       
            
        
        <div class="submenu">
            <input type="submit" value="Save" class="myButton" />
    @Html.ActionLink("Add Revision", "AddRevision", Model) | @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { data_confirmprompt = "Are you sure you want to delete job " + Model.name + "?" })
</div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
