@model JDTMVC.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        <legend>Job @Model.name Rev. @Model.curr_Revision</legend>

            <div class ="ErrorMessageDiv">
            <!-- Need to put in the full error message listings here -->
            </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.curr_Revision)
        @Html.HiddenFor(model => model.name)

        <div id="accordion" style="padding-bottom:15px;">
        <h3> Job Details</h3>
        <div class="tableLayout">
        <table>
            <tr>
                <td> @Html.LabelFor(model => model.Status) </td>
                <td> @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList) </td>

                <td class="secondColumn"> @Html.LabelFor(model => model.customer_Company) </td>
                <td> @Html.DropDownListFor(model => model.customer_Company, (SelectList)ViewBag.CompanyList) </td>
            </tr>
            <tr>
                <td>  @Html.LabelFor(model => model.DeliveryDate) </td>
                <td> @Html.TextBoxFor(model => model.DeliveryDate ,"{0:MM/dd/yy}", new { @class = "etcdate" }) </td>

                <td class="secondColumn"> @Html.LabelFor(model => model.customer_Name) </td>
                <td> @Html.DropDownListFor(model => model.customer_Name, (SelectList)ViewBag.CustomerList) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Report_Or_Memo) </td>
                <td> @Html.DropDownListFor(model => model.Report_Or_Memo, (SelectList)ViewBag.ReportList) </td>

                <td class="secondColumn"> @Html.LabelFor(model => model.SystemName)</td>
                <td> @Html.EditorFor(model=> model.SystemName)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Static_Testing)</td>
                <td> @Html.EditorFor(model => model.Static_Testing)</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.DeviceType)</td>
                <td> @Html.DropDownListFor(model => model.DeviceType, (SelectList)ViewBag.DeviceList)</td>
                
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Dynamic_Testing)</td>
                <td> @Html.EditorFor(model => model.Dynamic_Testing)</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.PM)</td>
                <td> @Html.DropDownListFor(model => model.PM, (SelectList)ViewBag.PMList)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.PO_Date)</td>
                <td> @Html.TextBoxFor(model => model.PO_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Engineer)</td>
                <td> @Html.DropDownListFor(model => model.Engineer, (SelectList)ViewBag.EngineerList)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.FolderBuild)</td>
                <td> @Html.TextBoxFor(model => model.FolderBuild, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.ReportWritten)</td>
                <td> @Html.TextBoxFor(model => model.ReportWritten, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.FolderCheck)</td>
                <td> @Html.TextBoxFor(model => model.FolderCheck, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Report_Initial_Check)</td>
                <td> @Html.TextBoxFor(model => model.Report_Initial_Check, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.TestStart)</td>
                <td> @Html.TextBoxFor(model => model.TestStart, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Report_Final_Check)</td>
                <td> @Html.TextBoxFor(model => model.Report_Final_Check, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model=>model.TestEnd)</td>
                <td> @Html.TextBoxFor(model => model.TestEnd, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Invoiced)</td>
                <td> @Html.TextBoxFor(model => model.Invoiced, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
            </tr>
            <tr>
                <td></td>
                <td></td>

                <td class="secondColumn"> @Html.LabelFor(model => model.Comments)</td>
                <td> @Html.EditorFor(model => model.Comments)</td>
            </tr>
        </table>
        </div>
         
            <h3>Equipment Details</h3>
            <div style="height:225px; padding-bottom:20px;">
                <table style="padding-bottom:20px;">
                    <tr>
                        <td> @Html.LabelFor(model => model.Calipers)</td>
                        <td> @Html.EditorFor(model => model.Calipers)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.Caliper_Date)</td>
                        <td> @Html.TextBoxFor(model => model.Caliper_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.Micrometer)</td>
                        <td> @Html.EditorFor(model=>model.Micrometer)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.Micrometer_Date)</td>
                        <td> @Html.TextBoxFor(model => model.Micrometer_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.Scale)</td>
                        <td> @Html.EditorFor(model=>model.Scale)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.Scale_Date)</td>
                        <td> @Html.TextBoxFor(model => model.Scale_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.Torque_Wrench)</td>
                        <td> @Html.EditorFor(model => model.Torque_Wrench)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.Torque_Wrench_Date)</td>
                        <td> @Html.TextBoxFor(model => model.Torque_Wrench_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.Protractor)</td>
                        <td> @Html.EditorFor(model => model.Protractor)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.Protractor_Date)</td>
                        <td> @Html.TextBoxFor(model => model.Protractor_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.LV_Force)</td>
                        <td> @Html.EditorFor(model => model.LV_Force)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.LV_Force_Date)</td>
                        <td> @Html.TextBoxFor(model => model.LV_Force_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                    <tr>
                        <td> @Html.LabelFor(model => model.LV_Torque)</td>
                        <td> @Html.EditorFor(model => model.LV_Torque)</td>

                        <td class="secondColumn"> @Html.LabelFor(model => model.LV_Torque_Date)</td>
                        <td> @Html.TextBoxFor(model => model.LV_Torque_Date, "{0:MM/dd/yy}", new { @class = "etcdate" })</td>
                    </tr>
                </table>
            </div>
        </div>
        
        
              
        <div class="submenu">
            <input type="submit" value="Save" class="myButton" />
    @Html.ActionLink("Add Revision", "AddRevision", Model) | @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { data_confirmprompt = "Are you sure you want to delete job " + Model.name + "?" })
</div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
