@model IEnumerable<JDTMVC.Models.Job>

@{
    ViewBag.Title = "Find Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find Jobs</h2>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@if (Model.Count() > 0)
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curr_Revision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
              
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curr_Revision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id}, new {data_confirmprompt = "Are you sure you want to delete job " + item.name + "?"})
        </td>
    </tr>
}

    
</table>
}
else
{
 @: No jobs found.  Please try again.   
}