@model JDTMVC.Models.Job

@{
    ViewBag.Title = "View Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <fieldset>
        <legend>Viewing: Job @Model.name</legend>
    <p></p>
        <div class="display-label">
             <b>@Html.DisplayNameFor(model => model.name)</b>: @Html.DisplayFor(model => model.name)
        </div>
    
        <div class="display-label">
             <b>@Html.DisplayNameFor(model => model.Static_Testing)</b>: @Html.DisplayFor(model => model.Static_Testing)
        </div>
    
        <div class="display-label">
             <b>@Html.DisplayNameFor(model => model.Dynamic_Testing)</b>: @Html.DisplayFor(model => model.Dynamic_Testing)
        </div>
    
        <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.PM)</b>: @Html.DisplayFor(model => model.PM)
        </div>
    
        <div class="display-label">
             <b>@Html.DisplayNameFor(model => model.Engineer)</b>: @Html.DisplayFor(model => model.Engineer)
        </div>
        <div class="display-label">
             <b>@Html.DisplayNameFor(model => model.Status)</b>: @Html.DisplayFor(model => model.Status)
        </div>
    </fieldset>
<div class="submenu">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>